.note-details {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    width: 100%;

    &__inner { @extend %width-shared }

    &__save {
        display: relative;
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
}

.edit-note {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    width: 100%;

    @include sm { padding-top: 24px }

    & input, textarea {
        border: none;
        border-bottom: 2px solid $light-grey-color;
        font-size: 16px;
        padding: 16px 24px 8px 0;
        transition: border-bottom .2ms ease-in-out;
        width: 100%;
        
        &:focus {
            border-bottom: 2px solid $text-color;
            outline: none;
        }
    }

    & h4 { margin-bottom: 8px }

    &__description {
        background-color: #fff;
        border-radius: 2px;
        box-sizing: border-box;
        box-shadow: $box-shadow-1;
        margin-bottom: 32px;
        min-height: 96px;
        padding: 8px 32px;
        width: 100%;

        & h4 { margin-bottom: 0 }
    }

    &__title {
        margin-bottom: 48px;
        width: 100%;
    }

    &__content {
        margin-bottom: 32px;

        textarea { height: 44px }
    }

    &__rating {
        padding-left: 32px;

        @include sm {
            margin-top: 32px;
            padding-left: 0;
        }
    }

    &__importance {
        align-items: center;
        background-color: #fff;
        border-bottom: 2px solid $light-grey-color;
        display: flex;
        padding: 16px 24px 8px 16px;
        position: relative;
        justify-content: space-between;
        width: 100%;

        label {
            font-size: 14px;
            text-align: center;
        }

        input {
            padding: 0;
            margin: 8px 0;
        }

        span {
            margin: 0;
            position: absolute;
            right: 16px;
            font-size: 14px;
        }

        & i:not(:last-of-type) { margin-right: 8px }
    }

    &__date input { padding-bottom: 0 }

    &__date, &__rating {
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: space-between;

        @include sm { width: 100% }
    }

    &__addition {
        display: flex;
        flex-direction: row;
        margin-bottom: 32px;
        background-color: #fff;
        border-radius: 2px;
        box-sizing: border-box;
        box-shadow: $box-shadow-1;
        min-height: 96px;
        padding: 8px 32px 32px;
        width: 100%;

        @include sm { flex-direction: column }
    }
}
