html {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;

    :focus {
        outline: none;
    }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    background-color: #dfdfdf;
    background-image: linear-gradient(to bottom, #dddbd1, #d2dbdc);
    overflow: hidden;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
    @include xl {
        max-width: inherit;
        position: fixed;
    }
}

a {
    text-decoration: none;
    color: $text-color;
}

main {
    margin-top: $header-height;

    @include sm {
        &.notes { margin-top: $header-height*2 }
    }
}

.wrapper {
    background-color: $background-color;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    
    @include xl {
        height: 80%;
        max-width: 1200px;
    }
}

.style-toggle {
    position: fixed;
    bottom: 24px;
    left: 24px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow-1;
    cursor: pointer;
    transform: scale(1.0);

    &:hover i { color: $primary-color }
}

.inverted { filter: invert(100%) }
