.notes {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    width: 100%;
    position: relative;

    @include sm {
        padding-top: 24px;
    }
    
    &__inner {
        @extend %width-shared;
    }

    &__new {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: 12px;
        
        button {
            padding-left: 12px;
        }
        
        i {
            vertical-align: bottom;
            padding-right: 6px;
        }
    }

    &__heading {
        margin-top: 16px;
        font-size: 14px;
    }
}

.note {
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: $box-shadow-1;
    margin-bottom: 32px;
    min-height: 96px;
    padding: 8px 32px;
    position: relative;
    width: 100%;

    &__complete-toggle {
        cursor: pointer;
    }

    &--completed {
        .note__title {
            color: $success-color;
        }
        
        .note__content {
            text-decoration: line-through;
        }
    }

    &__content {

    }

    &__title {

        i {
            vertical-align: bottom;
        }
    }

    &__description {

    }

    &__importance {
        border-radius: 10px;
        box-shadow: $box-shadow-1;
        height: 20px;
        left: -10px;
        position: absolute;
        top: calc(50% - 10px);
        width: 20px;

        &--1 {
            display: none;
        }

        &--2 {
            background-color: $importance-color-1;
        }

        &--3 {
            background-color: $importance-color-2;
        }
    }

    &__edit {
        align-items: center;
        background-color: $primary-color;
        border-radius: 0 2px 2px 0;
        color: white;
        cursor: pointer;
        display: flex;
        height: 100%;
        justify-content: center;
        position: absolute;
        right: 0px;
        visibility: hidden;
        top: 0;
        width: 64px;

        & a {
            text-decoration: none;
            color: inherit;
        }
    }

    &:hover {
        .note__edit {
            border-left: 12px solid #fff;
            visibility: visible;
        }
    }

}